@using AireSpringDemo.Models
@model AireSpringDemo.Models.Employee

<div class="card">
    <div class="card-body">
        <div>ID:@Model.UserId</div>
        <div>First Name:@Model.FirstName</div>
        <div>Last Name:@Model.LastName</div>
        <div>Phone Number: @Model.PhoneNumber</div>
        <div>Hire Date: @Model.HireDate</div>
    </div>
</div>