@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Airespring Demo</h1>
    <p>Click the links above to register a new user or view existing users  </p>
</div>
